.form-control {
  margin: 1rem 0;
}


.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #bbbaba;
  font: inherit;
  border-radius: 2px;
  padding: .3rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #414242;
  border: .6px solid #bbbaba;
  outline: none;
  /* padding: .7rem; */
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}