<div class="items item-2">
    <div class="notice">
        <p></p>
        <h3>Account</h3>
    </div>

    <div class="side-link">
        <ul>
            <a href="/admin/dashboard">
                <li>
                    <img src="/dist/icons/icons8_grid.ico" alt="dashboard">
                    <span>Dashboard</span>
                </li>
            </a>
            <a href="/admin/my-cards">
                <li>
                    <img src="/dist/icons/icons8_insert_mastercard.ico" alt="cards">
                    <span> Direct Payment </span>
                </li>
            </a>
            <a href="/admin/my-payments">
                <li>
                    <img src="/dist/icons/icons8_euro_money.ico" alt="payments">
                    <span> Deposite </span>
                </li>
            </a>
            <a href="/admin/my-services">
                <li>
                    <img src="/dist/icons/icons8_service.ico" alt="services">
                    <span> Withdraw</span>
                </li>
            </a>
            <a href="/admin/my-transcations">
                <li>
                    <img src="/dist/icons/icons8_euro_money.ico" alt="transactions">
                    <span>Transactions</span>
                </li>
            </a>
            <a href="/">
                <li>
                    <img src="/dist/icons/icons8_grid.ico" alt="transactions">
                    <span> Logout </span>
                </li>
            </a>
        </ul>
    </div>

</div>

